<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>

    <title>Communibank</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <link rel="stylesheet" type="text/css" href="/static/style/acision-ces-app.css"/>

    <link rel="stylesheet" type="text/css" href="/static/style/superfish.css"/>
    <link rel="stylesheet" type="text/css" href="/static/style/nivo-slider.css"/>
    <link rel="stylesheet" type="text/css" href="/static/style/jquery.qtip.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/style/jquery-ui/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" href="/static/style/fancybox/jquery.fancybox.css"/>
    <link rel="stylesheet" type="text/css" href="/static/style/fancybox/helpers/jquery.fancybox-buttons.css"/>

    <link rel="stylesheet" type="text/css" href="/static/style/style.css"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic"/>

    <link rel="stylesheet" type="text/css" media="screen and (max-width:959px)" href="/static/style/responsive/width-0-959.css"/>
    <link rel="stylesheet" type="text/css" media="screen and (max-width:767px)" href="/static/style/responsive/width-0-767.css"/>

    <link rel="stylesheet" type="text/css" media="screen and (min-width:480px) and (max-width:959px)" href="/static/style/responsive/width-480-959.css"/>
    <link rel="stylesheet" type="text/css" media="screen and (min-width:768px) and (max-width:959px)" href="/static/style/responsive/width-768-959.css"/>
    <link rel="stylesheet" type="text/css" media="screen and (min-width:480px) and (max-width:767px)" href="/static/style/responsive/width-480-767.css"/>
    <link rel="stylesheet" type="text/css" media="screen and (max-width:479px)" href="/static/style/responsive/width-0-479.css"/>

    <link rel="shortcut icon" href="/static/image/favicon.ico"/>

    <script type="text/javascript" src="/static/script/jquery.min.js"></script>
    <script type="text/javascript" src="/static/script/jquery.migrate.min.js"></script>
    <script type="text/javascript" src="/static/script/underscore-min.js"></script>
    <script type="text/javascript" src="/static/script/sdk.min.js"></script>
    <script type="text/javascript" src="/static/script/bpopup.js"></script>

    <script type="text/javascript" src="{{ url_for('global_config') }}"></script>
    <script type="text/javascript" src="/static/script/app.js"></script>

    <script type="text/javascript">
        var optionTemplate = {
            "parallax": {"enable": 1},
            "animation": {"enable": 1},
            "googleMap": {
                "coordinates_lat": "51.4157578",
                "coordinates_lng": "-0.972412"
            }
        };
    </script>


</head>
<body>
<div id="agent-offline" class="hide bpopup">
    <span class="button b-close"><span>X</span></span>
    <h2>System Notice</h2>
    <p>The Doctor is currently offline but has been notified. Please continue to browse until the doctor becomes available.</p>
</div>

<div class="video-chat" style="display: none;">
    <div class="video-chat-title">
        <div class="logo">
            <img src="/static/image/logo2.png" alt=""/>
        </div>
        <div class="hangup">
            <a href="#" id="hangup"><img src="/static/image/hangup.png" alt=""/></a>
        </div>
    </div>
    <div class="video">

        <div class="loading">
            <h2>Agent connecting, please wait...</h2>
            <img src="/static/image/103.gif"/>
        </div>
        <div class="remote">
            <audio id="audioRemote"></audio>
            <video id="videoRemote"></video>
        </div>
        <div class="local">
            <audio id="audioLocal"></audio>
            <video id="videoLocal"></video>
        </div>
    </div>
</div>


<ul class="page-list acision">

    <li class="page-home" id="page-home">

        <div class="home-carousel-box preloader">

            <!-- Bar with logo and social icons -->
            <div class="home-carousel-bar">

                <div class="main clear-fix">

                    <!-- Logo -->
                    <a href="#home" class="float-left">
                        <img src="/static/image/logo2.png" alt=""/>
                    </a>
                    <!-- /Logo -->

                    <!-- Social icon list -->
                    <ul class="social-list social-list-style-3 float-right">
                        <li><a href="#" class="social-list-skype"></a></li>
                        <li><a href="#" class="social-list-vimeo"></a></li>
                        <li><a href="#" class="social-list-youtube"></a></li>
                    </ul>
                    <!-- /Social icon list -->

                </div>

            </div>
            <!-- /Bar with logo and social icons -->

            <!-- Carousel -->
            <ul class="home-carousel update-carousel-disable">
                <!-- Slide #1 -->
                <li>
                    <div>
                        <!-- Image -->
                        <img src="/static/_sample/home_carousel/image_01.jpg" alt=""/>
                        <!-- /Image -->
                        <div class="home-carousel-title-box">
                            <div class="main">
                                <a href="#about" class="home-carousel-title-box">
                                    <span>
                                        <!-- Title -->
                                        <span>Personalized medical advice in the comfort of your home</span>
                                        <!-- /Title -->
                                        <!-- Subtitle -->
                                        <span>The medical expertice you can trust</span>
                                        <!-- /Subtitle -->
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- /Slide #1 -->
                <!-- Slide #2 -->
                <li>
                    <div>
                        <!-- Image -->
                        <img src="/static/_sample/home_carousel/image_02.jpg" alt=""/>
                        <!-- /Image -->
                        <div class="home-carousel-title-box">
                            <div class="main">
                                <a href="#about" class="home-carousel-title-box">
                                    <span>
                                        <!-- Title -->
                                        <span>Click-to-communicate offers realtime answers</span>
                                        <!-- /Title -->
                                        <!-- Subtitle -->
                                        <span>An innovative approach to personal health monitoring</span>
                                        <!-- /Subtitle -->
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- /Slide #2 -->
            </ul>
            <!-- Carousel -->

            <!-- Pagination -->
            <div class="home-carousel-pagination">
                <div class="main">
                    <div class="pagination"></div>
                </div>
            </div>
            <!-- /Pagination -->

        </div>


        <div id="navigation-bar" class="clear-fix">

            <div class="main clear-fix">

                <!-- Logo -->
                <div class="logo">
                    <a href="#home">
                        <img src="/static/image/logo2.png" alt=""/>
                    </a>
                </div>
                <!-- /Logo -->

                <!-- Menu -->
                <div id="menu">
                    <div id="menu-selected"></div>
                    <ul class="sf-menu">
                        <li><a href="#about">About<span></span></a></li>
                        <li><a href="#agents">Agents<span></span></a></li>
                        <li><a href="#services">Services<span></span></a></li>
                        <li><a href="#" class="appointment">Click to Communicate<span></span></a></li>
                    </ul>
                </div>
                <!-- /Menu -->

                <!-- Responsive menu  -->
                <div id="menu-responsive" class="clear-fix">
                    <select>
                        <!--<option value="#about">About</option>-->
                        <option value="#services">Services</option>
                        <option value="#agents">Agents</option>
                        <option value="#appiontment" class="appointment">Click
                            to Communicate
                        </option>
                        <!--<option value="#faqs">Faqs</option>-->
                    </select>
                </div>
                <!-- /Responsive menu  -->

            </div>

        </div>

    </li>

    <li class="page-about" id="page-about">

        <div class="main">

            <!-- Header -->
            <h2 class="underline">
                <span>About Us</span>
                <span></span>
            </h2>
            <!-- /Header -->

            <!-- Layout 50x50% --><!-- /Layout 50x50% -->

        </div>

        <!-- Features on background with image -->
        <div class="section-background section-background-1">

            <div class="main">

                <div class="carousel">

                    <div class="carousel-content">

                        <!-- List of features -->
                        <ul class="feature-list feature-list-style-2 feature-list-icon-large feature-list-icon-top clear-fix layout-p-25x25x25x25">

                            <!-- Entry #1 -->
                            <li class="column-left">
                                <span class="icon icon-keyboard"></span>
                                <h4>Online Advice</h4>

                                <p>Get personalized advice from a real doctor
                                    who understands your goals.</p>
                            </li>
                            <!-- /Entry #1 -->

                            <!-- Entry #2 -->
                            <li class="column-center-left">
                                <span class="icon icon-chart"></span>
                                <h4>Best Performance</h4>

                                <p>Our doctors will help you reach your
                                    performance goals, like weightloss or
                                    incereased energy</p>
                            </li>
                            <!-- /Entry #2 -->

                            <!-- Entry #3 -->
                            <li class="column-center-right">
                                <span class="icon icon-tablet"></span>
                                <h4>New Technologies</h4>

                                <p>We continually are adding new wearable
                                    technologyies to the BioscanR paltform</p>
                            </li>
                            <!-- /Entry #3 -->

                            <!-- Entry #4 -->
                            <li class="column-right">
                                <span class="icon icon-shield"></span>
                                <h4>Security &amp; Privacy</h4>

                                <p>Your data and our data is protected with the
                                    highest security standards and exceeds
                                    international standards.</p>
                            </li>
                            <!-- /Entry #4 -->

                        </ul>
                        <!-- List of features -->

                    </div>

                    <div class="pagination clear-fix"></div>

                </div>

            </div>

        </div>
        <!-- /Features on background with image -->

    </li>

    <li class="page-agents" id="page-agents">

        <div class="main">

            <!-- Header -->
            <h2 class="underline">
                <span>Speak with a live Doctor</span>
                <span></span>
            </h2>
            <!-- /Header -->

            <!-- Team members list -->
            <ul class="team-list clear-fix">

                <!-- Entry #1 -->
                <li>

                    <!-- Layout 33x66% -->
                    <div class="layout-p-33x66 clear-fix">

                        <!-- Left column -->
                        <div class="column-left">

                            <!-- Image -->
                            <div class="image">
                                <img src="/static/image/amanda.png" alt=""/>

                                <a href="#" class="call hide" style="text-decoration:none; display:none;" id="agent-one">
                                    <div class="image-description">
                                        <h5>Agent One</h5>
                                        <span style="text-transform:uppercase; font-weight:bold; font-style:normal; font-family:Arial, Helvetica, sans-serif;">Get Live Help Now</span>
                                    </div>
                                </a>
                            </div>
                            <!-- /Image -->

                            <!-- Social icon list -->
                            <!--<ul class="social-list social-list-style-1">
                                <li><a href="#" class="social-list-facebook"></a></li>
                                <li><a href="#" class="social-list-googleplus"></a></li>
                                <li><a href="#" class="social-list-twitter"></a></li>
                            </ul>-->
                            <!-- /Social icon list -->

                        </div>
                        <!-- /Left column -->

                        <!-- Right column -->
                        <div class="column-right">

                            <!-- Name + occupation -->
                            <h3 class="team-name">Doctor Friendly</h3>
                            <span class="occupation-name">Remote Medical Specialist</span>
                            <!-- /Name + occupation -->

                            <!-- About -->
                            <p>
                                With a personal real-estate portfolio and 12
                                years experience in real-estate consulting, you
                                are sure to get the help that you need. There
                                are many financial factors involved in
                                real-estate and you need to be paired with
                                someone who understands your goals and who can
                                help offer advice over the next few years. A
                                friendly face with the tools and experience to
                                help you make the most out of each investment.
                                <br/>
                                <br/> <a href="../../doctor">Doctor Login</a>
                            </p>
                            <!-- /About -->

                            <!-- Skills list -->
                            <ul class="skill-list list-0">
                                <li>
                                    <span>Cardiovascular</span>
                                    <span class="progress-bar value-80"></span>
                                </li>
                                <li>
                                    <span>General Practice</span>
                                    <span class="progress-bar value-70"></span>
                                </li>
                                <li>
                                    <span>Pain Managment</span>
                                    <span class="progress-bar value-90"></span>
                                </li>
                            </ul>
                            <!-- /Skills list -->

                        </div>
                        <!-- /Right column -->

                    </div>
                    <!-- /Layout 33x66% -->

                </li>
                <!-- /Entry #1 -->


            </ul>
            <!-- /Team members list -->

        </div>

    </li>

    <li class="page-services" id="page-services">

        <!-- Header -->
        <h2 class="underline" style="margin-top:50px">
            <span>Our services</span>
            <span></span>
        </h2>
        <!-- /Header -->

        <!-- Info list + progress bars -->
        <div class="section-background section-background-2">

            <div class="main">

                <div class="carousel">

                    <div class="carousel-content">

                        <ul class="info-list layout-p-33x33x33 clear-fix">
                            <li class="column-left">
                                <h2 class="counter value-67">
                                    <span></span><span>%</span></h2>
                                <h4>Have Never Invested</h4>

                                <p>Donec sit amet varius massa in malesuada
                                    tortor. Sed magna risus pellentesque nec
                                    fermentum suscipit vehicula at urna.</p>

                                <span class="progress-bar value-67"></span>

                            </li>

                            <li class="column-center">

                                <h2 class="counter value-86">
                                    <span></span><span>%</span></h2>

                                <h4>Have Zero Savings</h4>

                                <p>In sagittis congue diam eu vulputate mi
                                    euismod vel. Donec id magna rhoncus vel
                                    faucibus nunc eu faucibus leo aliquam.</p>

                                <span class="progress-bar value-89"></span>

                            </li>

                            <li class="column-right">

                                <h2 class="counter value-34">
                                    <span></span><span>%</span></h2>

                                <h4>Have No Insurance</h4>

                                <p>Aenean vel est sollicitudin pretium dui ut
                                    luctus quam. Integer felis erat auctor at
                                    mass congue ut vestibulum quis eros.</p>

                                <span class="progress-bar value-34"></span>

                            </li>
                        </ul>
                    </div>

                    <div class="pagination clear-fix"></div>

                </div>

            </div>

        </div>
        <!-- /Info list + progress bars -->

        <div class="main">


            <!-- Layout 50x50% -->
            <div class="layout-p-50x50 clear-fix">

                <!-- Left column -->
                <div class="column-left">

                    <p class="subheader padding-bottom-30">We provides a wide
                        array of specialised advisory and strategic services
                        for our clients.</p>

                    <!-- Features list -->
                    <ul class="feature-list feature-list-style-1 feature-list-icon-medium feature-list-icon-left clear-fix layout-p-100">
                        <!-- Entry #1 -->
                        <li class="column-left">
                            <span class="icon icon-chart"></span>
                            <h4>Investments</h4>

                            <p>Etam cursus lectus nec tortor sagittis, at
                                ultrices diam tempus. Nullam scelerisque lectus
                                a viverra adipiscin.</p>
                        </li>
                        <!-- /Entry #1 -->
                        <!-- Entry #2 -->
                        <li class="column-left">
                            <span class="icon icon-wallet"></span>
                            <h4>Household Savings</h4>

                            <p>Vestibulum ante urna, eleifend in magna sit amet
                                at. Scelerisque lobortis enim. Etiam rutrum non
                                erat sit.</p>
                        </li>
                        <!-- /Entry #2 -->
                        <!-- Entry #3 -->
                        <li class="column-left">
                            <span class="icon icon-shield"></span>
                            <h4>Insurance</h4>

                            <p>Aenean tincidunt dui id molestie mollis. Integer
                                atese malesuada elit in felis gravida eleifend
                                aenean congi.</p>
                        </li>
                        <!-- /Entry #3 -->
                    </ul>
                    <!-- /Features list -->

                </div>
                <!-- /Left column -->

                <!-- Right column -->
                <div class="column-right">

                    <p class="subheader padding-bottom-30">Communibank has
                        advised on hundreds of commercial and personal
                        transactions since 1986.</p>

                    <!-- Features list -->
                    <ul class="feature-list feature-list-style-1 feature-list-icon-medium feature-list-icon-left clear-fix layout-p-100">
                        <!-- Entry #1 -->
                        <li class="column-left">
                            <span class="icon icon-signpost"></span>
                            <h4>Superior Advice</h4>

                            <p>Aliquam erat volutpat. Etiam auctor volutpat
                                leo, at tristique augue ultricies nec. Cras
                                felis lectus integer.</p>
                        </li>
                        <!-- /Entry #1 -->
                        <!-- Entry #2 -->
                        <li class="column-left">
                            <span class="icon icon-briefcase"></span>
                            <h4>Private Banking</h4>

                            <p>Sed vel diam in ligula facilisis ullamcorper.
                                Nulla vite pellentesque tincidunt mi, non
                                porttitor justo digni.</p>
                        </li>
                        <!-- /Entry #2 -->
                        <!-- Entry #3 -->
                        <li class="column-left">
                            <span class="icon icon-administration"></span>
                            <h4>Legal Advice</h4>

                            <p>Quisque lectus dui, pulvinar sed aliquam eu,
                                pretium quis enim. Nullam consectetur eu risus
                                nec varius eti.</p>
                        </li>
                        <!-- /Entry #3 -->
                    </ul>
                    <!-- /Features list -->

                </div>
                <!-- /Right column -->

            </div>
            <!--/ Layout 50x50% -->

        </div>

    </li>


    <li class="page-faqs" id="page-faqs">
        <div class="twitter-user-timeline">
            <div class="main clear-fix">
                <div class="twitter-user-timeline-list clear-fix"></div>
                <div class="twitter-user-timeline-background"></div>
            </div>
        </div>
        <div class="clear-fix section-background-color section-background-color-1">

            <div class="main clear-fix">

                <!-- Header -->
                <h2 class="underline">
                    <span>Frequently Asked Questions</span>
                    <span></span>
                </h2>
                <!-- /Header -->

                <!-- Layout 66x33% -->
                <div class="layout-p-66x33 clear-fix ">

                    <!-- Left column -->
                    <div class="column-left">

                        <h4 class="underline">
                            <span>Offer Combines</span><span></span></h4>

                        <!-- Features list -->
                        <ul class="feature-list feature-list-style-1 feature-list-icon-small feature-list-icon-left clear-fix layout-p-50x50">
                            <!-- Entry #1 -->
                            <li class="column-left">
                                <span class="icon icon-briefcase"></span>
                                <h5>Personal Adviser</h5>

                                <p>Nunc nec risus laoreet facilisises nunc eget
                                    eleifend augue lectuse.</p>
                            </li>
                            <!-- /Entry #1 -->
                            <!-- Entry #2 -->
                            <li class="column-right">
                                <span class="icon icon-adjust"></span>
                                <h5>Risk Analysis</h5>

                                <p>Morbi ultrices nulla in ante aliquet a
                                    hendrerit turpis vulputate ultrice.</p>
                            </li>
                            <!-- /Entry #2 -->
                            <!-- Entry #3 -->
                            <li class="column-left">
                                <span class="icon icon-money"></span>
                                <h5>Funds Protection</h5>

                                <p>Donec quis lectus quis mi posues faucibus ut
                                    congue odio imperdi.</p>
                            </li>
                            <!-- /Entry #3 -->
                            <!-- Entry #4 -->
                            <li class="column-right">
                                <span class="icon icon-chart"></span>
                                <h5>Return On Investment</h5>

                                <p>Suspendisse non malesuada elite sed id
                                    iaculis arcu, eu congue dui.</p>
                            </li>
                            <!-- /Entry #4 -->
                            <!-- Entry #5 -->
                            <li class="column-left">
                                <span class="icon icon-oscilloscope"></span>
                                <h5>Derivatives Access</h5>

                                <p>Nullam sagittis ipsum eu eleifend hendrerit.
                                    In tincidunt nec ligula.</p>
                            </li>
                            <!-- /Entry #5 -->
                            <!-- Entry #6 -->
                            <li class="column-right">
                                <span class="icon icon-database"></span>
                                <h5>Online Services</h5>

                                <p>Aliquam eget mattis purus. Fusce in
                                    pellentesque massa faucibus at.</p>
                            </li>
                            <!-- /Entry #6 -->
                        </ul>
                        <!-- /Features list -->

                    </div>
                    <!-- /Left column -->

                    <!-- Right column -->
                    <div class="column-right">

                        <h4 class="underline">
                            <span>Questions and Answers</span><span></span>
                        </h4>

                        <!-- Accordion -->
                        <ul class="template-accordion">
                            <li>
                                <div><h5><a href="#">What is the risk?</a></h5>
                                </div>
                                <div class="clear-fix">
                                    Phasellus sed consequat felis. Integer
                                    euism libero libero, sed fringilla orci
                                    aliquet sit am. In nec ullamcorper neque.
                                </div>
                            </li>
                            <li>
                                <div><h5><a href="#">Is my capital safe?</a>
                                </h5></div>
                                <div class="clear-fix">
                                    Vivamus et venenatis dolor. Etiam
                                    pulvinaral augue ut viverra facilisis.
                                    Quisque quis cong urna. Sed eu velit id
                                    erat venenatis blandit.
                                </div>
                            </li>
                            <!-- Panel #1 -->
                            <li>
                                <!-- Header -->
                                <div><h5><a href="#">What are the benefits?</a>
                                </h5></div>
                                <!-- /Header -->
                                <!-- Content -->
                                <div class="clear-fix">
                                    Quisque non nunc dapibus, tincidunt nisin
                                    tincidunt sapien suspendisse porttitor:
                                    <br/><br/>
                                    <ul class="list list-1">
                                        <li>
                                            <div>Donec placerat aliquam,</div>
                                        </li>
                                        <li>
                                            <div>Morbi arcu lacus iaculis,
                                            </div>
                                        </li>
                                        <li>
                                            <div>Fusce dignissim enim vel,
                                            </div>
                                        </li>
                                        <li>
                                            <div>Aenean fringilla mauris a.
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /Content -->
                            </li>
                            <!-- /Panel #1 -->
                            <!-- Panel #2 -->

                            <!-- /Panel #2 -->
                            <!-- Panel #3 -->
                            <li>
                                <div><h5><a href="#">Can I opt out?</a></h5>
                                </div>
                                <div class="clear-fix">
                                    Praesent euismod lacinia tellus, sed
                                    pulvina massa lacinia in. Integer id
                                    consectetur ligu. Proin quis tortor ut enim
                                    facilisis eleifend.
                                </div>
                            </li>
                            <!-- /Panel #3 -->
                            <!-- Panel #4 -->

                            <!-- /Panel #4 -->
                        </ul>
                        <!-- /Accordion -->

                    </div>
                    <!-- /Right column -->

                </div>
                <!-- /Layout 66x33% -->

            </div>

        </div>

    </li>

    <li class="page-contact" id="page-contact">

        <!-- Google Map -->
        <div id="googleMap"></div>
        <!-- /Google Map -->

    </li>

</ul>

<div class="footer acision">

    <div class="main">

        <!-- Layout 33x66% -->
        <div class="layout-p-33x66 clear-fix">

            <!-- Left column: copyright -->
            <div class="column-left">
                &copy; 2014 Acision &amp; Blacc Spot Media<a href="#"></a>
            </div>
            <!-- /Left column: copyright -->

            <!-- Right column: menu -->
            <div class="column-right">
                <ul class="footer-menu list-0">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#agents">agents</a></li>
                    <li><a href="#faqs">faqs</a></li>
                </ul>
            </div>
            <!-- /Right column: Menu -->

        </div>
        <!-- /Layout 33x66% -->

    </div>

</div>

<script type="text/javascript" src="/static/script/script.js"></script>
<script type="text/javascript" src="/static/script/superfish.js"></script>
<script type="text/javascript" src="/static/script/jquery.easing.js"></script>
<script type="text/javascript" src="/static/script/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/script/jquery.blockUI.js"></script>
<script type="text/javascript" src="/static/script/jquery.timeago.js"></script>
<script type="text/javascript" src="/static/script/jquery.qtip.min.js"></script>
<script type="text/javascript" src="/static/script/jquery.parallax.js"></script>
<script type="text/javascript" src="/static/script/jquery.ba-bbq.min.js"></script>
<script type="text/javascript" src="/static/script/jquery.actual.min.js"></script>
<script type="text/javascript" src="/static/script/jquery.isotope.min.js"></script>
<script type="text/javascript" src="/static/script/jquery.linkify.min.js"></script>
<script type="text/javascript" src="/static/script/jquery.scrollTo.min.js"></script>
<script type="text/javascript" src="/static/script/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="/static/script/jquery.touchSwipe.min.js"></script>
<script type="text/javascript" src="/static/script/jquery.elastic.source.js"></script>
<script type="text/javascript" src="/static/script/jquery.infieldlabel.min.js"></script>
<script type="text/javascript" src="/static/script/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript" src="/static/script/jquery.waypoints-sticky.js"></script>
<script type="text/javascript" src="/static/script/jquery.carouFredSel.packed.js"></script>

<script type="text/javascript" src="/static/script/jquery.fancybox.js"></script>
<script type="text/javascript" src="/static/script/jquery.fancybox-media.js"></script>
<script type="text/javascript" src="/static/script/jquery.fancybox-buttons.js"></script>

<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>

<script type="text/javascript" src="/static/script/template.class.js"></script>
<script type="text/javascript" src="/static/script/main.js"></script>

</body>

</html>
