{% set first, last = patient.name.split(' ') -%}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    <title>Doctor Portal</title>

    <script src="/static/doctor/js/jquery-v2.1.3.js"></script>
    <script src="/static/doctor/js/underscore-min.js"></script>
    <script src="/static/doctor/js/underscore.normalize.min.js"></script>
    <script src="/static/doctor/js/purl.js"></script>
    <script src="/static/doctor/js/sdk.min.js"></script>


    <script src="/static/doctor/js/mousetrap.min.js"></script>
    <script src="/static/doctor/js/jquery.simplemodal.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script src="{{ url_for('global_config') }}"></script>
    <script src="/static/doctor/js/jquery-ui-widget.min.js"></script>
    <script src="/static/doctor/js/jke-d3-ecg.min.js"></script>
    <script src="/static/doctor/js/app.js"></script>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/doctor/css/jke-d3-ecg.css"/>
    <link rel="stylesheet" href="/static/doctor/css/main.css"/>

</head>
<body>

<div class="video-chat">
    <div class="video-chat-title">
        <div class="logo">
            <img src="/static/image/logo2.png" alt=""/>
        </div>
        <div class="toggle-vitals" style="display: none;">
            Vitals
        </div>
        <div class="title">
            <h2>BIOSCAN<span style="vertical-align: super; font-size: small;">R</span> Doctor Portal</h2>
        </div>
        <div class="hangup">
            <a href="#" id="disconnect" class="hide"><img src="/static/image/hangup.png" alt=""/></a>
        </div>
    </div>
    <div class="video">
        <div class="loading hide">
            <button id="accept" class="button hide">Accept Call</button>
            <h2>Accept incoming customer call</h2>
            <img src="/static/image/103.gif"/>
        </div>
        <div id="alert-container" class="hide">
            <div style="background-color: white;">
                <h1>Patient {{ patient.name }} vitals elevated, severity escalated, chat unresponsive</h1>
                <button id="call-patient">Call {{ patient.name }}</button>
            </div>
        </div>
        <div class="vitals" style="visibility: hidden;">
            <div class="name">
                <span class="first">{{ first }}</span>
                <span class="last">{{ last }}</span>
            </div>
            <div class="pulse">
                <span class="label">Pulse</span>
                <span class="value" id="pulse">76</span>
            </div>
            <div class="respiration">
                <span class="label">Respiration</span>
                <span class="value" id="respiration">14</span>
            </div>
            <div class="clearfix"></div>
            <div class="ekg">
                <span class="label">EKG</span>
                <div id="graph"></div>
            </div>
            <div>
                Lower: <input type="number" min="0" max="1000" step="25" id="lower" value="250"><br/>
                Upper: <input type="number" min="0" max="1000" step="25" id="upper" value="750"><br/>
            </div>
        </div>
        <div class="remote">
            <audio id="audioRemote"></audio>
            <video id="videoRemote"></video>
        </div>
        <div class="local hide">
            <audio id="audioLocal"></audio>
            <video id="videoLocal"></video>
        </div>
    </div>
</div>

<audio id="ringtone" loop>
    <source src="/static/doctor/audio/uk-ringtone.wav" type="audio/wav">
</audio>

<!--<h2 style="margin-left:10px; padding-bottom:0px; margin-bottom:0px; text-transform:uppercase">Acision CES Demo Application</h2>
<h4 style="margin-left:10px; padding-bottom:0px; margin-top:5px; font-weight:normal;"><em><span id="agent-name" style="font-weight:bold;"></span></em> agent interface.</h4>
<p></p>
<hr>


<div class="hide" id="agent-status">
    <p> Clik on the button below to set your agent availability when you want to connect to the platform. <br/><br/> <em>You are currently: <span id="status" style="font-weight:bold; color:red;">unavailable</span></em></p>


    <button id="availability" class="button">GO <span>ONLINE</span></button>

    <p></p>
    <hr>
</div>

<button id="disconnect" class="button hide">Disconnect Call</button>
<button id="accept" class="button hide">Accept Call</button>

<audio id="ringtone" loop>
    <source src="audio/uk-ringtone.wav" type="audio/wav">
</audio>

<div id="local">
    <audio id="audioLocal"></audio>
    <video id="videoLocal" class="video"></video>
</div>

<div id="remote">
    <audio id="audioRemote"></audio>
    <video id="videoRemote" class="video"></video>
</div>-->


</body>
</html>
