@charset "utf-8";
/* CSS Document */

.hide {
  display: none;
}

.video-chat {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  z-index: 1;
  position: absolute;
  overflow: hidden;
  display: none;
}

.video-chat-title {
  height: 50px;
  background-color: #db0032;
  border-bottom: 3px #000 solid;
  width: 100%;
  position: absolute;
  z-index: 25;
}

.video-chat-title .logo {
  margin-left: 20px;
  width: 150px;
  float: left;
  margin-top: 10px;
}

.video-chat-title .hangup {
  float: right;
  width: 32px;
  height: 32px;
  padding: 8px;
  margin-right: 20px;
}

.video-chat-title .hangup img {
  height: 32px;
  width: 32px;
}

.video {
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 5;
  top: 53px;
  position: absolute;
}

.loading {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading h2 {
  display: block;
  margin: auto;
  font-size: 32px;
  width: 660px;
  text-align: center;
}

.loading img {
  display: block;
  margin: auto;
}

.remote {
  width: 100%;
  height: 100%;
  z-index: 10;
  float: left;
}

.remote video {
  background-size: cover;
  width: auto;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.local {
  width: 240px;
  height: 180px;
  margin: 10px;
  border: 5px #000 solid;
  position: absolute;
  bottom: 53px;
  right: 0;
  z-index: 15;
}

.local video {
  width: 240px;
  height: 180px;
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  background-color: #000;
}

.bpopup {
  background-color: #f5f5f5;
  box-shadow: 0 0 1px 0px #999;
  border-radius: 10px 10px 10px 10px;
  color: #111;
  display: none;
  width: 450px;
  padding: 25px;
}

.bpopup {
  min-height: 175px;
}

.bpopup h2 {
  margin-bottom: 0px;
  font-size: 28px;
  color: #db0032;
  font-family: Arial;
}

.bpopup p {
  margin-top: 0px;
  font-size: 18px;
}

.bpopup .button {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  background-color: #db0032;
}

.button.small {
  border-radius: 15px;
  float: right;
  margin: 22px 5px 0;
  padding: 6px 15px;
}

.bpopup .button:hover {
  color: #1e1e1e;
}

.button > span {
  font-size: 84%;
}

.button.b-close, .button.bClose {
  background-color: #db0032;
  border-radius: 7px 7px 7px 7px;
  box-shadow: none;
  font: bold 131% sans-serif;
  padding: 0 6px 2px;
  position: absolute;
  right: -7px;
  top: -7px;
}

