
#alert {
  height: 25vh;
  width: 40vw;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/*.video { width:360px; height:240px; border:5px #000 solid; margin:10px; float:left; }*/

.hide {
  display: none;
}

.button {
  margin: 10px;
  padding: 6px;
  width: 180px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}

.video-chat {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  z-index: 1;
  position: absolute;
  overflow: hidden;
}

.video-chat-title {
  height: 50px;
  background-color: #2555db;
  border-bottom: 3px #000 solid;
  width: 100%;
  position: absolute;
  z-index: 25;
}

.video-chat-title .logo {
  margin-left: 20px;
  width: 175px;
  float: left;
  margin-top: 8px;
}

.video-chat-title .logo img {
  width: 175px;
}

.video-chat-title .hangup {
  float: right;
  width: 32px;
  height: 32px;
  padding: 8px;
  margin-right: 20px;
  z-index: 1000;
}

.video-chat-title .hangup img {
  height: 32px;
  width: 32px;
  z-index: 1000;
}

.video-chat-title .title {
  float: left;
  width: 70%;
  height: 50px;
  text-align: center;
}

.video-chat-title .title h2 {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  margin-top: 15px;
}

.video {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  top: 50px;
  position: absolute;
  z-index: 1;
}

.loading {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.loading h2 {
  display: block;
  margin: auto;
  font-size: 24px;
  width: 660px;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
}

.loading img {
  display: block;
  margin: auto;
}

.loading button {
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.clearfix {
  clear: both;
  overflow: auto;
  zoom: 1;
}

.toggle-vitals {
  cursor: pointer;
  float: left;
  line-height: 52px;
  color: white;
}

.vitals {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 30%;
  z-index: 8;
  color: rgba(255, 255, 255, 0.5);
  font-size: 2vw;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  padding: 30px;
}

.vitals .name {
  font-size: 5vw;
  margin-bottom: 6vh;
}

.vitals .name > span {
  display: block;
}

.vitals .pulse,
.vitals .respiration {
  float: left;
}

.vitals .pulse {
  margin-right: 3vw;
}

.vitals .label {
  display: block;
  text-transform: uppercase;
}

.vitals .value {
  font-size: 8vw;
}

.vitals .ekg {
  margin-top: 3vh;
}

.vitals .ekg #graph {
  margin-top: 2vh;
  height: 15vh;
}

.vitals path {
  fill: none;
}

.remote {
  width: 100%;
  height: 100%;
  z-index: 10;
  float: right;
  background-color: #101010;
}

/* .remote video height had been auto but 100% works better to prevent weird clipping */
.remote video {
  background-size: cover;
  width: auto;
  height: 100%;
  min-height: 100%;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.local {
  width: 240px;
  height: 180px;
  margin: 10px;
  border: 5px #000 solid;
  position: absolute;
  bottom: 106px;
  right: 0;
  z-index: 1; /*display:none;*/
}

.local video {
  width: 240px;
  height: 180px;
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  background-color: #000;
}

.set {
  margin-left: 20px;
  float: left;
  width: 400px;
}

.set p {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 17px;
  float: left;
}

.set button {
  padding: 2px;
  float: left;
}

.status {
  float: right;
  width: 300px;
  margin-right: 20px;
}

.status p {
  text-align: right;
  width: 300px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 17px;
}


